RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9-_]+).html$ index.php?controller=blog&action=viewBlog&param=$1 [L,QSA]
RewriteRule ^category/([a-zA-Z0-9-_]+)/?$ ?controller=category&action=page&param=$1 [L,QSA]